.App {
	text-align: center;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	background-color: #2196f3;
	padding: 10px;
}

.grid-item {
	border: 0.2px solid #000000;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	padding: 2rem;
}

.item-1 {
	grid-column: 1/5;
	text-align: end;
}

.item-operations {
	background-color: orange;
}

.item-zero {
	grid-column: 1/3;
}
